target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Spring AI Alibaba Subprojects - YAML configs ###
Saa01/src/main/resources/*.yml
Saa02/src/main/resources/*.yml
Saa03/src/main/resources/*.yml
Saa04/src/main/resources/*.yml
Saa05/src/main/resources/*.yml
Saa06/src/main/resources/*.yml
Saa07/src/main/resources/*.yml
Saa08/src/main/resources/*.yml
Saa09/src/main/resources/*.yml